<div class="product-wrapper" id="products">
  <div class="container border">
    <h1 class= "doypack-title text-center"><span>Nos produits</span></h1>
    <div class="row no-pad card-row">

      <div class="doypack col-12 col-sm-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "doypack-blanc.jpg" %>
            <h4 class='doypack-text'>Doypack</h4>
          </div>
          <div class="back">
            <%= image_tag "DOYPACK_CREA.jpg" %>
             <h4 class='doypack-text'>Doypack</h4>
          </div>
        </div>
      </div>

      <div class="doypack col-12 col-sm-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "boite_ROUGE.jpg" %>
            <h4 class='doypack-text white'>Boîte</h4>
          </div>
          <div class="back">
            <%= image_tag "BOITE_CREA.jpg" %>
            <h4 class='doypack-text white'>Boîte</h4>
          </div>
        </div>
      </div>

       <div class="doypack col-12 col-sm-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "COFFRET_blanc.jpg" %>
            <h4 class='doypack-text'>Coffret</h4>
          </div>
          <div class="back">
            <%= image_tag "COFFRET_CREA.jpg" %>
            <h4 class='doypack-text'>Coffret</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row no-pad card-row">

      <div class="doypack col-12 col-sm-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "etiquette_blanc.jpg"%>
            <h4 class='doypack-text white'>Étiquette</h4>
          </div>
          <div class="back">
            <%= image_tag "etiquette_CREA.jpg"%>
            <h4 class='doypack-text white'>Étiquette</h4>
          </div>
        </div>
      </div>

      <div class="doypack col-12 col-sm-4 flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "sleeve_blanc.jpg" %>
            <h4 class='doypack-text'>Sleeve</h4>
          </div>
          <div class="back">
            <%= image_tag "SLEEVE-CREA.jpg" %>
            <h4 class='doypack-text'>Sleeve</h4>
          </div>
        </div>
      </div>



      <div class="doypack col-12 col-sm-4 card-content">
        <div class=" description-content card-text text-center">
            <h4>Mais aussi</h4>
            <p>sac/sachet en papier, barquette plastique thermoformée... Nous nous efforcerons de répondre
            à tous vos besoins
            <b>...</b>
            </p>
          </div>
      </div>


</div>



  </div>
</div>














