<div class="wrapper doypack-wrapper">
  <h1 class= "doypack-title text-center"><span>Doypacks</span></h1>
  <div class="container">
    <!-- <div class="container doypack-container"> -->
      <h2 class="text-center">Nos options</h2>

        <div class="row doypack-row">

              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "saccafeimprime.jpg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>ALL I PACK</h1>
                      <p>We love that</p>
                  </div>
                </div>
              </div>

              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "sachetfondplat.png", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>ALL I PACK</h1>
                      <p>We love that</p>
                  </div>
                </div>
              </div>


              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "sacimprime.png", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>ALL I PACK</h1>
                      <p>We love that</p>
                  </div>
                </div>
              </div>
            </div>



      <h2 class="text-center">Nos impressions</h2>

        <div class="row impressions-row">



          <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>ALL I PACK</h1>
                      <p>We love that</p>
                  </div>
                </div>
              </div>



              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>ALL I PACK</h1>
                      <p>We love that</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>















