<div class="main-wrapper">
  <h1 class= "doypack-title text-center"><span>Nos produits</span></h1>
  <div class="container">
    <div class="row no-pad ">


      <div class="col-12 col-sm-4">
          <%= image_tag "DOYPACK_CREA.jpg" %>
      </div>

      <div class="col-12 col-sm-4">
          <%= image_tag "BOITE_CREA.jpg" %>
      </div>

      <div class="col-12 col-sm-4">
            <%= image_tag "COFFRET_CREA.jpg" %>
      </div>

</div>

  <div class="row no-pad">
      <div class="col-12 col-sm-4">
          <%= image_tag "etiquette_CREA.jpg"%>
      </div>

      <div class="col-12 col-sm-4">
          <%= image_tag "SLEEVE-CREA.jpg" %>
      </div>

      <div class="col-12 col-sm-4">
        <div class=" description-content card-text text-center">
            <p>Mais aussi
            sac/sachet en papier, barquette plastique thermoformée... Nous nous efforcerons de répondre
            à tous vos besoins
            ...</p>
          </div>
      </div>


</div>



  </div>
</div>














