<div class="wrapper doypack-wrapper">
  <h1 class= "doypack-title text-center"><span>Doypacks</span></h1>
  <div class="container">
    <!-- <div class="container doypack-container"> -->
      <h2 class="text-center">Nos options</h2>

        <div class="row doypack-row">

              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "saccafeimprime.jpg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>Paul Quintrie</h1>
                      <p>We love that guy</p>
                  </div>
                </div>
              </div>

              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "sachetfondplat.png", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>Paul Quintrie</h1>
                      <p>We love that guy</p>
                  </div>
                </div>
              </div>


              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "sacimprime.png", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>Paul Quintrie</h1>
                      <p>We love that guy</p>
                  </div>
                </div>
              </div>
            </div>



      <h2 class="text-center">Nos impressions</h2>

        <div class="row impressions-row">



          <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>Paul Quintrie</h1>
                      <p>We love that guy</p>
                  </div>
                </div>
              </div>



              <div class="flip-card col-xs-12 col-md-4">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <%= image_tag "entrepot.jpeg", height: 200, width: 200, crop: :fill, id: "entrepot", alt: "entrepot" %>
                  </div>
                  <div class="flip-card-back">
                    <h1>Paul Quintrie</h1>
                      <p>We love that guy</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>






      <div class="f1_container col-sm-4">
        <div class="col-xs col-sm-12 card f1_card front face" style="background-image: url('./images/entrepot.jpeg');background-size: cover; background-repeat: no-repeat;background-position: center;">
            <div class="back face center">
            <div>
                <li class="list-unstyled">
                  <%= image_tag('favicon.png', class: 'logo-picture') %>
                </li>
                <li class="list-unstyled">
                  <%= image_tag('favicon.png', class: 'logo-picture') %>
                </li>
                <li class="list-unstyled">
                  <%= image_tag('favicon.png', class: 'logo-picture') %>
                </li>
            </div>
          </div>
        </div>
  </div>










